<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.alfred-jr.tunnel</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/cloudflared</string>
    <string>tunnel</string>
    <string>--config</string>
    <string>REPLACE_WITH_REPO_PATH/infra/local/cloudflared.yml</string>
    <string>run</string>
    <string>alfred-jr</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/alfred-jr-tunnel.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/alfred-jr-tunnel.err</string>
</dict>
</plist>
